# Rails
PORT=3000
#	TBD: Change this!
RAILS_ENV=production
RAILS_MAX_THREADS=5

# Redis
REDIS_HOST=trans_passports_redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_URL=redis://trans_passports_redis:6379/1

# DB
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=

#	Prod
DATABASE_NAME=transpassports
DATABASE_URL=postgres://USER:PASSWORD@HOST/transpassports

#	Development
DATABASE_NAME_DEVELOPMENT=trans-p_development
DATABASE_URL_DEVELOPMENT=postgres://USER:PASSWORD@HOST/trans-p_development

#	Test
DATABASE_NAME_TEST=trans-p_test
DATABASE_URL_TEST=postgres://USER:PASSWORD@HOST/trans-p_test
